.nav-cl{
    /* display: flex; */
    /* flex-direction: row; */
    /* border: solid wheat; */
    flex-grow: 2;

}

.nav-ed{
    align-items: flex-start;
    justify-content: space-around;
}

.nav-ex{
    height: 100px;
}

/* .spacer-1{ */
/* } */

.spacer-2{
    display: flex;
}

.btn-ed{
    border-radius: 60px !important;
}